html {
    scroll-behavior: smooth;
}

body {
    background-image: url("assets/bg2.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.7rem;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: orange;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2rem;
}

.bg-dark {
    background: #20202b!important;
}

.font-pink {
    color: pink;
}

#content {
    height: 100%;
}

.vertical-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page {
    min-height: 100vh;
    padding-top: 88px;
    color: white;
}

.contact {
    color: white;
    font-size: 3rem;
}

#course-work {
    background: blue;
}

.hidden {
    display: none;
}


/* Default Extra small */

h1,
h3 {
    font-family: 'Julius Sans One', sans-serif;
}

#about-me img {
    height: auto;
    width: 50%;
}

#about-me p {
    line-height: 1.3rem;
}

#about-me .contact {
    font-size: 4rem;
}

.work {
    padding: 25px;
    border-radius: 10px;
    margin: 10px 0;
    background-color: #20202c;
}

.work-title,
.work-dates {
    font-size: 1.2rem;
}

.underline {
    text-decoration: underline;
}

.work-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.work-list {
    font-size: 1.2rem;
}

#projects .card {
    text-align: center;
    margin-top: 30px;
}

#projects img {
    height: auto;
    width: 50%;
    margin: 5% auto;
}


/* Small devices (landscape phones, 544px and up) */

@media (min-width: 544px) {
    #about-me .contact {
        font-size: 6rem;
    }
    #projects img {
        width: 70%;
    }
}

@media (min-width: 768px) {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #about-me img {
        width: 100%;
        height: auto;
    }
    #about-me p {
        line-height: 2.2rem;
        font-size: 1.4vw;
    }
    #about-me .contact {
        font-size: 8rem;
    }
}

@media(min-width: 1200px) {
    .card {
        width: 17rem;
        margin: 0 auto;
    }
}


/*
    Text animation
*/


/* centre-me class selector is added to
the HTML module under the advanced tab */

.centre-me {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* This adds the blinking cursor
Remove the animation and keyframes to remove the blinking
or remove everything to remove the cursor*/

.typewrite {
    border-right: 2px solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}


/* I added this to overwite the blinking in row 2*/

.no-cursor .typewrite {
    border-right: none;
    animation: none;
}


/* Just to add a 2nd colour in the header of row 1*/

.fl-builder-content .animated-text-row1 H1 {
    letter-spacing: -.4px!important;
}

.fl-builder-content .animated-text-row1 H1 STRONG {
    color: #A5E6AE !important;
}

.single-line .typewrite {
    color: #A5E6AE !important;
    font-family: georgia serif;
    font-size: 26px;
}


/* used in row 2 to add the glow (blur)*/

.one-word .typewrite {
    font-weight: bold;
    font-style: normal;
    text-shadow: 0 0 30px #FFFFFF;
}


/* used in row 3- it makes the cursor (border right) bigger too*/

.end-word .typewrite {
    background-color: #E00A0A;
    display: inline-block;
    color: #FFFFFF;
    font-weight: bold;
    border-right: 10px solid #BF0505;
    padding: 0 10px;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Change this to 100% if you want to edit it */
    height: 100%;
}