html{
    scroll-behavior: smooth;
}

body{
    background-image: url("assets/bg2.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
   font-family: 'Julius Sans One', sans-serif;
   font-size: 1.7rem;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: orange;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1.2rem;
}

.bg-dark{
    background: #20202b!important;
}



#content{
    height: 100%;
}
.vertical-center{
    display: flex;
  
    justify-content: center;
    flex-direction: column;
}

.page{
    min-height: 100vh;
    padding-top: 88px;
    color: white;
    text-align: center;

}
.contact{
    color: white;
    font-size: 3rem;
}

#course-work{
    background: blue;

}



/* Default Extra small */
h1{
    font-family: 'Julius Sans One', sans-serif;
}

#about-me img{
    height: auto;
    width: 50%;
}
#about-me p {
    line-height: 1.3rem;
}

#about-me .contact{
    font-size: 4rem;
}





#projects .card{
    margin-top: 30px;
}

#projects img{
    height: auto;
    width: 50%;
    margin: 5% auto;
} 

/* 
.carousel-content #responsibility {
    text-align: left;
}



.carousel-item{
    min-height: 60vh;
    background: #20202b;
}



.carousel-item img{
    margin-top: 10px;
    margin-bottom: 10px;
}
 */
 a.carousel-control-next{
    width: 5%;
}
a.carousel-control-prev{
    width: 5%;
}

.carousel-item{
    min-height: 60vh;;
}

#myregistry{
    width: 50%;
    height: auto;
}

#prestige{
    width: 70%;
    height: auto;
} 
#tutor{
    width: 80%;
}



/* Small devices (landscape phones, 544px and up) */


@media (min-width: 544px){

  
    #about-me .contact{
        font-size: 6rem;
    }
    #projects img{
        width:70%;
    }

}
@media (min-width: 768px) { 

}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
    #about-me img {
        width: 100%;
        height: auto;
    }
    #about-me p {

        line-height: 2.2rem;
        font-size: 1.4vw;
    }
    #about-me .contact{
        font-size: 8rem;
    }
} 

@media(min-width: 1200px){
    .card{
        width: 17rem;
        margin: 0 auto;
    }
    #work-experience{
        font-size: 1.2vw;
    }
    #work-experience img{
        width: 15vw;
        height: auto;
    }
}
