.info{
    margin: 5% 10%;
    text-align: center;
}

.tables{
    margin: auto;
}

.game {
    margin: 5%;
}

.piece {
    width: 28px;
    height: 30px;
    border:0px;
}
.button {
    width: 25px;
    height: 30px;
    border:0px;
   
}
.button:hover{
    border: solid;
    border-width: 1px;
    margin: 10px;
}
.red {
background-color: red;
}
.yellow {
background-color: yellow;
}
.green {
background-color: #0F0;
}
.blue {
background-color: blue;
}
.purple {
background-color: purple;
}
.pink {
background-color: fuchsia;
}
#game-table {
    margin:0px;
    border:0px;
    padding: 0px;
    border-spacing:0px;
}
#button-table {
    border-spacing:4px;
    vertical-align: top;
}
.font {
    font-family: sans-serif;
}

.input-number{
    width: 40px;
}